{%extends 'base.html'%} 

{% load bootstrap3 %}
<!-- Some content here-->

<!-- Looping through news end   -->
{% block content %}
<div class="container">
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Some Information Might be Incorrect </p>
            {% endif %}
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="text-center">Sign Up</h3>
                </div>
                <div class="container-fluid">

                    <form action="{%url 'home'%}" method="post">
                        {%csrf_token%} 
                        {% bootstrap_form SignUpForm layout='inline' %}
                        <input type="submit" value="Subscribe">
                    </form>

                </div>
            </div>

        </div>
                <!-- empty div -->
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}
